@import 'colors';
@import 'layout';
@import 'text';
@import 'icons';
@import 'btn';
@import 'nav';
@import 'sections';

#proto-ddh {
  font-family: sans-serif;
  color: $slate;
}

#proto-ddh a           { text-decoration: none; }
#proto-ddh a:not(.btn) { color: $blue-light; }
