// Colors

.bg-white        { background-color: $white; }
.bg-silver-light { background-color: $silver-light; }
.bg-silver-dark  { background-color: $silver-dark; }
.bg-blue-light   { background-color: $blue-light; }
.bg-silver-dark  { background-color: $silver-dark; }
.bg-slate-light  { background-color: $slate-light; }

.tx-white { color: $white;}
