
// Nav stuff

#proto-nav {
  position: relative;
  top: 0;
  border-top: 1px solid $platinum-dark;
  border-bottom: 1px solid $platinum-dark;
}

#proto-nav.proto-nav--fixed {
  position: fixed;

}

.nav-items {
  position: relative;
  padding: 1.75em 0;
}

.nav-item {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.85em;
}

#proto-nav .nav-item a:not(.btn) {
  margin-right: 2em;
  color: $slate;
}
